<h1>
   {{title}}
</h1>
<div id="wrapper">
   <entry-field></entry-field>
   <ul>
      <li *ngFor="let task of storage.taskCollection.taskCollection" id={{task.id}} >
         <label>
         <input *ngIf="task.done" (click)="performTask(task.id)" class="checkbox" type="checkbox"  checked>
         <input *ngIf="!task.done" (click)="performTask(task.id)" class="checkbox" type="checkbox"  >
         <span class="checkbox-custom"></span>
         </label>
         <span *ngIf=!task.edit (dblclick)="editTask(task.id)" class="task" >{{task.name}}</span>
         <input *ngIf=task.edit name="edit" [(ngModel)]="taskEdit" (blur)="setTitle(taskEdit,task.id)">
         <span (click)="removeTask(task.id)" class="close">×</span>
      </li>
   </ul>
</div>