<h1>
  {{title}}
</h1>
<form>
    <input name="taskTitle" [(ngModel)]="taskTitle"  placeholder="Title...">
   
    <button (click)="addTask()">Add</button>
</form>
<ul>
  <li *ngFor="let task of storage.taskCollection.taskCollection" id={{task.id}} >
    <label>
      <input (click)="performTask(task.id)" class="checkbox" type="checkbox" >
      <span class="checkbox-custom"></span>
    </label>
    <span class="task">{{task.name}}</span>
    <span (click)="removeTask(task.id)" class="close">×</span>
  </li>

</ul> 
